html {
    color: #222;
    font-size: 10px;
}
html, body {width: 100%;height: 100%; margin: 0; padding: 0;}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

textarea {resize: vertical;}

ul {list-style: none;}
main {width: 80%; margin: 0 auto;}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Custom styles
   ========================================================================== */

body {
	font-family: "Lato", sans-serif;
}
#navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
#navbar.show {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color:#129187;
}

#banner {
	width: 100%;
	height: 100vh;
	max-height: 100%;
	background-color: #129187;
	display:flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #FFF;
}
h1 {font-family: 'Poppins', sans-serif; font-size: 5em;}
h2 {font-size: 3em;}
h3 {font-size: 2.4em;}
#navWrap {
	display: flex;
	justify-content: space-between;
	height: 8em;
	padding: 1em 2em;
    transition: all 1s;
}
#navbar.show #navWrap {
    height: 4em;
    padding: 0.5em 2em;
    transition: all 1s;
}
#navList {
	align-self: center;
	display: flex;
    justify-content: space-between;
    width: 50%;
}
#navList a {
    color: #FFF;
    text-decoration: none;
    font-size: 1.5em;
}
#navbrand img {
	width: auto;
	height: 100%;
	align-self: center;
}

.section-head {
	text-align: center;
	display: flex;
    justify-content: center;
    align-content: center;
}
.strike {
    background-color: #0a9288;
    height: 0.2em;
    flex-grow: 1;
    margin: auto 1em;
}
main section p {font-size: 1.5em;}
.aboutWrap .desc {text-align: center;}
.logo{text-align: center;}
.logo img {width: 20em;height: auto;}

.projectsWrap {display: flex; justify-content: space-between;}
.project-tile {width: 100%; text-align: center;}
.project-tile img {width:80%;}

#testimonials {
    width: 100%;
}
.feedWrap {
    display: flex; justify-content: center; text-align: center;
}
.feedback {
    text-align: center;
    padding: 0.5em;
    flex-grow: 1;
    flex-basis: 0;
}
.feedback img {
    border-radius: 50%;
    width: 7em;
    height: 7em;
    border: 0.32em solid #129187;
}
.feedInfo {
    display: flex; justify-content: center; align-items: center;
}
.serviceWrap {
    display: flex;
    justify-content: center;
    text-align: center;
}
.service{
    padding: 2em;
    flex-grow: 1;
    flex-basis: 0;
}
.contactWrap {display: flex; justify-content: space-between;}
#map {flex: 1;min-height:40em; border: 0.2em solid #129187;}
#map iframe {width: 100%; height: 100%;}
#conf {flex: 1;}
#conf div {display: flex;justify-content: flex-end;}
#conf div p {margin:0.5em;}
a#form-link {background-color: #129187;color: #FFF;text-decoration: none;padding: 0.5em;}
footer {background-color: #129187; margin: 2em auto 0em auto; padding: 2em 1em;text-align: right;}
footer div {width: 80%; margin: 0 auto; color: #FFF; font-size: 1.5em;}
#toggleBtn {display: none;}
.navMob {display: none;}

@media(max-width: 1024px) {
    .serviceWrap {
        flex-direction: column;
    }
    .feedWrap {
        flex-direction: column;
    }
    .feedback img {
        width: 6em;
        height: 6em;
    }
    .contactWrap {
        flex-direction: column;
    }
    #conf div {
        display: flex;
        justify-content: center;
    }
    #toggleBtn {display: block;align-self: center;}
    .responsive .navMob {display: block;background-color: #FFF;}
    #navList {display: none;}
    .navMob {width: 100%;}
    .mobList {
        display: flex;
        align-items: center;
        font-size: 2em;
        padding: 0;
        flex-direction: column;
        text-align: center;
    }
    .mobList li {width: 100%; padding: 0.2em 0em;}
    .mobList li a {text-decoration: none; color: #129187;}
    .mobList li:hover {background-color: #129187;}
    .mobList li:hover a {color: #FFF;}
}
i {background-color: #129187;border-radius: 50%;padding: 0.8em;border: 0.1em solid #000;}





/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
